<h1 style="color: white;font-size: 40px;">welcome {{userOf}}!!</h1> 
<a id="trans" routerLink="/transaction">View transaction history</a>


<div id="main1">
    <h1 style="margin-left: 250px; padding-top: 15px;">deposit cash</h1>
    <form (ngSubmit)="deposit()">
        <input type="text" class="first1" id="user4" name="hello4" [(ngModel)]="acnum" placeholder="account number"><br>
        <input type="password" class="first1" id="user5" name="hello5" [(ngModel)]="pas"    placeholder="password"><br>
        <input type="text" class="first1" id="user6" name="hello6" [(ngModel)]="amt"  placeholder="amount to deposit"><br>
        <button type="submit" id="butt1" >deposit</button><br>
        
    </form>
</div>


<div id="main2">
    <h1 style="margin-left: 250px; padding-top: 15px;">withdraw cash</h1>
    <form (ngSubmit)="withdraw()">
        <input type="text" class="first1" id="user7" name="hello7" [(ngModel)]="acnum1"  placeholder="account number"><br>
        <input type="password" class="first1" id="user8" name="hello8" [(ngModel)]="pas1"  placeholder="password"><br>
        <input type="text" class="first1" id="user9" name="hello9" [(ngModel)]="withd"  placeholder="amount to Withdraw"><br>
        <button type="submit" id="butt1" >Withdraw</button><br>
        
    </form>
</div>

